html,body{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	background-color: #000;
	color: #ff7700;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	position: relative;
}
div.brand{
	font-size: 2em;
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 10000;
	opacity: 0.3;
	cursor: default;
}
a.spotify{
	position: absolute;
	bottom: 1em;
	right: 1em;
	z-index: 10000;
	color: #fff;
	text-decoration: none;
}
.underlay{
	background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../img/back.jpg');
	background-size: cover;
	background-position:  center;
	filter:blur(5px) saturate(1.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.wrapper{
	position: relative;
	width: 100%;
	text-align: center;
}
.upper{
	display: flex;
	align-items: center;
	justify-content: center;
}
@keyframes party{
		0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
		10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
		20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
		30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
		40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
		50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
		60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
		70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
		80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
		90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
		100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.wrapper h1{
	font-size: 2rem;
	margin: 10px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	animation: party .5s linear infinite;
}

#clock{
	text-align: center;
	font-size: 2em;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	-webkit-filter: drop-shadow(0 3px 6px rgba(0,0,0,0.8));
  	filter: drop-shadow(0 3px 6px rgba(0,0,0,0.8));
  	cursor: pointer;
  	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
      -webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
#clock span{
	background:rgba(0,0,0,.2);
	display: inline-block;
	margin: 5px;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	vertical-align: middle;
	line-height: 70px;
	position: relative;
	text-align: middle;
	transition: background .2s ease-in-out;
}
#clock svg{
	position: absolute;
    left: -2px;
    top: 0px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 75px;
    stroke: #ff7700;
    fill: none;
    stroke-width: .7;
}
@media (min-width: 475px){
	#clock span{
		margin: 1rem;
	}
}
@media (min-width: 730px){
	.wrapper h1{
		font-size: 4rem;
	}
	#clock span{
	width: 150px;
	height: 150px;
	line-height: 150px;
}
#clock svg{
    left: -7px;
    width: 165px;
}
}
@keyframes spin{
	0% {
		transform: rotate(220deg);
		max-width: 100px;
		max-height: 100px;
		opacity: 0;
	}
    33%, 66% {
    	transform: rotate(20deg);
    	max-width: 200px;
		max-height: 200px;
		opacity: 1;
	}
	100% {
		transform: rotate(200deg);
		max-width: 100px;
		max-height: 100px;
		opacity: 0;
	}
}

#clock.play:after{
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	max-width: 200px;
	max-height: 200px;
	background:url('../img/eggplant.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	animation: spin .6s linear forwards;
}